@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
  /* Colors */
  /* Primary */
  --scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --lizard-gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);
  /* Neutral */
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);

  --main-text: hsl(255, 15%, 95%);
  /* Background */
  --radial-gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);

  /* Fonts */
  --fs-base: 1rem;
  --ff-base: 'Barlow Semi Condensed', sans-serif;
  --fw-bold: 700;
  --fw-semibold: 600;
  --letter-spacing: .125rem;

  /* Borders */
  --bdr-radius: .4375rem;
}

/* Code from: https://www.joshwcomeau.com/css/custom-css-reset/ */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* General styles */
body {
  display: grid;
  min-height: 100vh;
  padding: 2rem;
  font: var(--fw-semibold) var(--fs-base) var(--ff-base);
  color: var(--main-text);
  background: radial-gradient(var(--radial-gradient));
  text-transform: uppercase;
  text-align: center;
}

ul {
  padding: 0;
  list-style: none;
}

/* Utilities */
.visually-hidden:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: .75rem;
  border: none;
  background-color: transparent;
  text-transform: inherit;
  cursor: pointer;
}

/* Game */
.game {
  display: grid;
  gap: 4rem;
  place-content: center;
  height: 100%;
  font-size: .9rem;
}

.game__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .625rem .625rem .625rem 1.25rem;
  border: .21875rem solid var(--header-outline);
  border-radius: var(--bdr-radius);
  font-weight: var(--fw-semibold);
}

.game__logo {
  width: 85px;
}

.game__score-container {
  padding: .75rem 1.5rem;
  border-radius: .3125rem;
  color: var(--dark-text);
  background-color: var(--main-text);
  line-height: 1;
}

.game__score-text {
  font-size: .625rem;
  color: var(--score-text);
  letter-spacing: var(--letter-spacing);
}

.game__score {
  font-size: 2.4rem;
  font-weight: var(--fw-bold);
}

.game__body {
  min-height: 40vh;
}

.game__board {
  position: absolute;
  left: -1000vw;
  display: grid;
  gap: 3.5rem;
  align-content: space-between;
  opacity: 0;
  scale: 0;
  transition: scale .3s ease-in, opacity .3s ease-in;
}

.game__board[data-board="1"] {
  gap: 0;
}

.game__board:is(.active) {
  position: initial;
  left: 0;
  opacity: 1;
  scale: 1;
}

.game__init-title {
  font-size: 1.4rem;
  margin-block-end: 1rem;
}

.game__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 2.8rem;
  width: min(440px, 100%);
  margin: 0 auto;
}

.game__content[data-step="1"] {
  align-items: center;
  background: no-repeat center/60% url("./images/bg-triangle.svg");
}

.game__item {
  display: grid;
  gap: 1.5rem;
  place-items: center;
  place-content: space-between;
  letter-spacing: var(--letter-spacing);
}

.game__choice-btn {
  --bdr-color: var(--header-outline);
  --bdr-width: .84375rem;
  --shadow-color: var(--dark-text);

  position: relative;
  padding: 1.125rem 1.5rem;
  margin-block-start: var(--bdr-width);
  border-radius: 50%;
  background-color: hsla(237, 49%, 15%, 40%);
}

.game__choice-btn::before {
  position: absolute;
  content: "";
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  box-shadow: 0 0 .625rem 2.5rem var(--bdr-color);
  transition: opacity .5s, box-shadow .5s;
  z-index: -1;
}

.game__choice-btn:not(.game__choice-btn--winner):is(:active)::before {
  opacity: 1;
  box-shadow: 0 0 0 0 var(--bdr-color);
  transition: none;
}

.game__choice-btn::after {
  --choice-icon: "";

  content: "";
  width: 50px;
  height: 60px;
  background: no-repeat center / 90% var(--choice-icon);
}

.game__choice-btn[data-choice] {
  margin-block-start: 0;
  border: var(--bdr-width) solid var(--bdr-color);
  background-color: var(--main-text);
  box-shadow:
    inset 0 .33rem 0 .003125rem rgba(0, 0, 0, .1),
    0 .35rem 0 .003125rem var(--shadow-color);
  transition:
    scale .3s ease-in-out,
    box-shadow .25s ease-in-out;
}

.game__choice-btn[data-choice]:not(.game__choice-btn--winner):is(:hover, :focus-visible) {
  scale: 1.05;
}

.game__choice-btn[data-choice]:is(:active) {
  box-shadow:
    inset 0.003125rem .65rem 0 .125rem rgba(0, 0, 0, .15),
    0 .35rem 0 .003125rem var(--shadow-color);
}

.game__choice-btn[data-choice="paper"] {
  --bdr-color: hsl(230, 89%, 65%);
  --shadow-color: hsl(230, 89%, 62%);
}

.game__choice-btn[data-choice="scissors"] {
  --bdr-color: hsl(40, 84%, 53%);
  --shadow-color: hsl(39, 89%, 49%);
}

.game__choice-btn[data-choice="rock"] {
  --bdr-color: hsl(349, 70%, 56%);
  --shadow-color: hsl(349, 71%, 52%);
}

.game__choice-btn[data-choice="paper"]::after {
  --choice-icon: url("./images/icon-paper.svg");
}

.game__choice-btn[data-choice="scissors"]::after {
  --choice-icon: url("./images/icon-scissors.svg");
}

.game__choice-btn[data-choice="rock"]::after {
  --choice-icon: url("./images/icon-rock.svg");
}

.game__choice-btn--winner::before {
  opacity: 1;
  box-shadow:
    0 .15rem 0 calc(2.3rem + .5vw) hsla(208, 49%, 23%, .75),
    0 .15rem 0 calc(3.8rem + 1vw) hsla(212, 48%, 23%, .65),
    0 .15rem 0 calc(5.2rem + 1.5vw) hsla(214, 47%, 23%, .55);
}

.game__results {
  padding: .625rem;
}

.game__results-title {
  font-size: 3.5rem;
  margin-block-end: .5rem;
}

.game__results-btn {
  padding: .75rem 4rem;
  border-radius: var(--bdr-radius);
  background-color: var(--main-text);
  letter-spacing: var(--letter-spacing);
  transition: color .3s ease-in-out;
}

.game__results-btn--player1:is(:hover, :focus-visible, :active) {
  color: hsl(129, 80%, 27%);
}

.game__results-btn--player2:is(:hover, :focus-visible, :active) {
  color: hsl(349, 83%, 42%);
}

.game__rules-btn {
  padding: .625rem 2.25rem;
  border: .09375rem solid var(--main-text);
  border-radius: .5625rem;
  color: var(--main-text);
  font-weight: var(--fw-semibold);
  letter-spacing: var(--letter-spacing);
  transition:
    color .3s ease-in-out,
    background-color .3s ease-in-out;
}

.game__rules-btn:is(:hover, :focus-visible, :active) {
  color: var(--dark-text);
  background-color: var(--main-text);
}

/* Results banner */
:is(.game__result-banner, .game__result-banner[data-desktop]) {
  opacity: 0;
  scale: 0;
  position: absolute;
}

.game__result-banner {
  transition:
    scale .5s ease-in-out,
    opacity .3s ease-in-out;
}

.game__result-banner--show[data-mobile] {
  opacity: 1;
  scale: 1;
  position: initial;
}

/* Modal of rules */
.rules-modal {
  position: absolute;
  inset: 0;
  translate: 0 -110vh;
  opacity: 0;
  transition: opacity .25s ease-in;
  z-index: 10;
}

.rules-modal:is(.open) {
  transition: opacity .5s ease-out;
  translate: 0;
  opacity: 1;
}

.rules-modal__content {
  display: grid;
  gap: 2rem;
  place-items: center;
  align-content: space-between;
  height: 100%;
  padding: 3rem 2rem;
  color: var(--dark-text);
  background-color: var(--main-text);
}

.rules-modal__close-btn {
  display: inline-grid;
  place-items: center;
  padding: .625rem;
  border-radius: 50%;
  transition: scale .3s ease-in;
}

.rules-modal__close-btn--desktop {
  display: none;
}

.rules-modal__close-btn::after {
  content: "";
  width: 20px;
  aspect-ratio: 1;
  background: no-repeat center url("./images/icon-close.svg");
}

.rules-modal__close-btn:is(:hover, :focus-visible, :active) {
  scale: 1.1;
  box-shadow: 0 0 0 .125rem rgba(0, 0, 0, .3);
}

/* Attribution */
.attribution {
  height: fit-content;
  margin-block: 2rem 0;
  color: var(--main-headings);
  z-index: 1;
}

.attribution a {
  color: hsl(230, 89%, 65%);
}

/* Responsive */
@media screen and (min-width: 940px) {
  .game {
    display: grid;
    gap: 4rem;
    place-content: initial;
    margin: 0 auto;
    font-size: 1rem;
  }

  /* Header */
  .game__header {
    width: min(620px, 100%);
    height: fit-content;
    padding-block: .75rem;
    margin: 1rem auto 0;
  }

  .game__logo {
    width: calc(85px + 3vw);
  }

  .game__score-container {
    padding-inline: 2.5rem;
    line-height: 1.1;
  }

  .game__score-text {
    font-size: .8rem;
    font-weight: var(--fw-bold);
    letter-spacing: .15625rem;
  }

  .game__score {
    font-size: 3.375rem;
  }

  /* Body */
  .game__content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 4rem;
  }

  .game__content[data-step="1"] {
    background-size: 75% 60%;
  }

  .game__content[data-step="2"] {
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
  }

  .game__content[data-step="2"] .game__choice-btn {
    margin-block-end: var(--bdr-width);
    padding: 3.125rem 3.5rem;
  }

  .game__choice-btn::before {
    box-shadow: 0 0 .625rem 3.75rem var(--bdr-color);
  }

  .game__choice-btn::after {
    width: 60px;
    height: 70px;
    background-size: 100% 100%;
  }

  .game__choice-btn[data-choice] {
    --bdr-width: 1.25rem;
    padding: 2.125rem 2.5rem;
    box-shadow:
      inset 0 .4rem 0 .003125rem rgba(0, 0, 0, .1),
      0 .675rem 0 .003125rem var(--shadow-color);
  }

  .game__choice-btn[data-choice]:is(:active) {
    box-shadow:
      inset 0.003125rem .65rem 0 .125rem rgba(0, 0, 0, .15),
      0 .3375rem 0 .003125rem var(--shadow-color);
  }

  .game__item {
    gap: 3rem;
    height: 100%;
    font-size: 1.4rem;
  }

  .game__choice-btn[data-step="2"] {
    --bdr-width: 1.625rem;
    order: 1;
  }

  .game__choice-btn[data-step="2"][data-choice] {
    margin-block: 0;
    box-shadow:
      inset 0 .625rem 0 .003125rem rgba(0, 0, 0, .1),
      0 .75rem 0 .003125rem var(--shadow-color);
  }

  .game__choice-btn[data-step="2"][data-choice]:is(:active) {
    box-shadow:
      inset 0.003125rem 1rem 0 .125rem rgba(0, 0, 0, .15),
      0 .375rem 0 .003125rem var(--shadow-color);
  }

  .game__choice-btn[data-step="2"][data-choice]::after {
    width: 95px;
    height: 100px;
  }

  .game__choice-btn--winner::before {
    box-shadow:
      0 .15rem 0 5rem hsla(208, 49%, 23%, .75),
      0 .15rem 0 8.5rem hsla(212, 48%, 23%, .65),
      0 .15rem 0 11.5rem hsla(214, 47%, 23%, .55);
  }

  /* Results banner */
  :is(.game__result-banner, .game__result-banner[data-mobile]) {
    opacity: 0;
    scale: 0;
    position: absolute;
  }

  .game__result-banner--show[data-desktop] {
    opacity: 1;
    scale: 1;
    position: initial;
  }

  /* Footer */
  .game__footer {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
  }

  /* Modal of rules */
  .rules-modal {
    display: grid;
    place-items: center;
    background-color: hsla(0, 0%, 0%, 0.5);
    font-size: 1.2rem;
  }

  .rules-modal__content {
    place-items: initial;
    gap: .5rem;
    width: min(360px, 100%);
    height: min-content;
    margin: 0 auto;
    padding: 2rem 2rem 1.5rem;
    border-radius: var(--bdr-radius);
  }

  .rules-modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .rules-modal__image-container {
    padding: .6rem;
  }

  .rules-modal__image {
    justify-self: center;
  }

  .rules-modal__close-btn--mobile {
    display: none;
  }

  .rules-modal__close-btn--desktop {
    display: inline-grid;
  }
}