@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
  /* Colors */
  /* Primary */
  --scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --lizard-gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --spock-gradient: hsl(189, 59%, 53%), hsl(189, 58%, 57%);
  /* Neutral */
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);

  --main-text: hsl(255, 15%, 95%);
  /* Background */
  --radial-gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);

  /* Fonts */
  --fs-base: 1rem;
  --ff-base: 'Barlow Semi Condensed', sans-serif;
  --fw-bold: 700;
  --fw-semibold: 600;
  --letter-spacing: .125rem;

  /* Borders */
  --bdr-radius: .4375rem;

  /* Transitions */
  --bouncing: cubic-bezier(0.1, 0.7, 0.6, 0.9);
}

/* Code from: https://www.joshwcomeau.com/css/custom-css-reset/ */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
:is(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
:is(input, button, textarea, select) {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
:is(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
:is(#root, #__next) {
  isolation: isolate;
}

/* General styles */
body {
  display: grid;
  min-height: 100vh;
  padding: 2rem 2rem 1.5rem;
  font: var(--fw-semibold) var(--fs-base) var(--ff-base);
  color: var(--main-text);
  background: radial-gradient(var(--radial-gradient));
  text-transform: uppercase;
  text-align: center;
}

main {
  min-height: 80vh;
}

ul {
  padding: 0;
  list-style: none;
}

/* Utilities */
.visually-hidden:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flex-group-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .75rem;
  border: none;
  color: inherit;
  background-color: transparent;
  text-transform: inherit;
  cursor: pointer;
}

/* Game - Selection mode */
:is(.game, .mode) {
  position: absolute;
  inset: 0;
  display: grid;
  gap: 5rem;
  font-size: .9rem;
  opacity: 0;
  scale: 0;
  translate: 0 110vh;
  pointer-events: none;
  user-select: none;
}

:is(.game, .mode):is(.active) {
  transition: opacity 1s ease-in-out;
  opacity: 1;
  scale: 1;
  translate: 0;
  pointer-events: initial;
  user-select: initial;
}

.mode {
  place-content: center;
  padding: 2rem;
  font-size: 1.25rem;
}

.mode::before {
  position: absolute;
  inset: 0;
  content: "";
  background: no-repeat center/cover url("../images/bg-image.svg");
  z-index: -1;
}

:is(.mode__title, .game__board-title, .game__results-title) {
  font-size: 3.5rem;
  margin-block-end: 1rem;
}

.mode__buttons {
  flex-wrap: wrap;
  gap: 3rem;
}

:is(.mode__button, .game__results-btn) {
  padding: .75rem 4rem;
  border-radius: var(--bdr-radius);
  background-color: var(--main-text);
  letter-spacing: var(--letter-spacing);
  transition:
    color .3s ease-in-out,
    scale .5s var(--bouncing);
}

.mode__button--normal {
  background: linear-gradient(var(--paper-gradient));
}

.mode__button--bonus {
  background: linear-gradient(var(--spock-gradient));
}

:is(.mode__button, .game__results-btn, .rules-modal__close-btn):is(:hover, :focus-visible, :active) {
  scale: 1.2;
}

/* Game: Header */
.game__header {
  justify-content: space-between;
  width: min(620px, 100%);
  height: fit-content;
  margin-inline: auto;
  padding: .625rem .625rem .625rem 1.25rem;
  border: .21875rem solid var(--header-outline);
  border-radius: var(--bdr-radius);
  font-weight: var(--fw-semibold);
}

.game__logo {
  display: none;
  width: 85px;
}

:is(.game__logo, .rules-modal__image):is(.active) {
  display: block;
}

.game__score-container {
  padding: .75rem 1.5rem;
  border-radius: .3125rem;
  color: var(--dark-text);
  background-color: var(--main-text);
  line-height: 1;
}

.game__score-text {
  font-size: .625rem;
  color: var(--score-text);
  letter-spacing: var(--letter-spacing);
}

.game__score {
  font-size: 2.4rem;
  font-weight: var(--fw-bold);
}

/* Game: Body */
.game__body {
  min-height: 40vh;
}

.game__board {
  position: absolute;
  left: -1000vw;
  display: none;
}

.game__board:is(.active) {
  position: initial;
  left: 0;
  display: grid;
  gap: 1.2rem;
  align-content: space-between;
}

.game__board-title {
  font-size: 1.4rem;
}

.game__content {
  flex-wrap: wrap;
  gap: 1rem 2.8rem;
  width: min(440px, 100%);
  margin: 0 auto;
}

.game__content[data-step="1"] {
  background: no-repeat center/60% 65% url("../images/bg-triangle.svg");
}

.game__choice-btn {
  --bdr-color: var(--header-outline);
  --bdr-width: .84375rem;
  --shadow-color: var(--dark-text);

  position: relative;
  padding: 1.125rem 1.5rem;
  margin-block-start: var(--bdr-width);
  border-radius: 50%;
  background-color: hsla(237, 49%, 15%, 40%);
}

.game__choice-btn::before {
  /* pulse wave effect */
  position: absolute;
  inset: 0;
  content: "";
  border-radius: inherit;
  opacity: 0;
  box-shadow: 0 0 .625rem 2.5rem var(--bdr-color);
  transition: opacity .5s, box-shadow .5s;
  z-index: -1;
}

.game__choice-btn:not(.game__choice-btn--winner):is(:active)::before {
  opacity: 1;
  box-shadow: 0 0 0 0 var(--bdr-color);
  transition: none;
}

.game__choice-btn--winner::before {
  /* waves for highlight winner */
  opacity: 1;
  box-shadow:
    0 .15rem 0 calc(2.3rem + .5vw) hsla(208, 49%, 23%, .75),
    0 .15rem 0 calc(3.8rem + 1vw) hsla(212, 48%, 23%, .65),
    0 .15rem 0 calc(5.2rem + 1.5vw) hsla(214, 47%, 23%, .55);
}

.game__choice-btn::after {
  /* hand icons */
  --hand-icon: "";

  content: "";
  width: 50px;
  height: 60px;
  background: no-repeat center / 90% var(--hand-icon);
}

.game__choice-btn[data-hand] {
  margin-block-start: 0;
  border: var(--bdr-width) solid var(--bdr-color);
  background-color: var(--main-text);
  box-shadow:
    inset 0 .33rem 0 .003125rem rgba(0, 0, 0, .1),
    0 .35rem 0 .003125rem var(--shadow-color);
  will-change: box-shadow;
  transition:
    scale .3s var(--bouncing),
    box-shadow .25s ease-in-out;
}

.game__choice-btn[data-hand]:not(.game__choice-btn--winner):is(:hover, :focus-visible) {
  scale: 1.05;
}

.game__choice-btn[data-hand]:is(:active) {
  box-shadow:
    inset 0.003125rem .65rem 0 .125rem rgba(0, 0, 0, .15),
    0 .35rem 0 .003125rem var(--shadow-color);
}

.game__choice-btn[data-hand="paper"] {
  --bdr-color: hsl(230, 89%, 65%);
  --shadow-color: hsl(230, 89%, 62%);
}

.game__choice-btn[data-hand="paper"]::after {
  --hand-icon: url("../images/icon-paper.svg");
}

.game__choice-btn[data-hand="scissors"] {
  --bdr-color: hsl(40, 84%, 53%);
  --shadow-color: hsl(39, 89%, 49%);
}

.game__choice-btn[data-hand="scissors"]::after {
  --hand-icon: url("../images/icon-scissors.svg");
}

.game__choice-btn[data-hand="rock"] {
  --bdr-color: hsl(349, 70%, 56%);
  --shadow-color: hsl(349, 71%, 52%);
}

.game__choice-btn[data-hand="rock"]::after {
  --hand-icon: url("../images/icon-rock.svg");
}

.game__rules-btn {
  padding: .625rem 2.25rem;
  border: .09375rem solid var(--main-text);
  border-radius: .5625rem;
  font-weight: var(--fw-semibold);
  letter-spacing: var(--letter-spacing);
  transition:
    color .3s ease-in-out,
    background-color .3s ease-in-out;
}

.game__rules-btn:is(:hover, :focus-visible, :active) {
  color: var(--dark-text);
  background-color: var(--main-text);
}

/* Second step board */
.game__content[data-step="2"] {
  flex-wrap: nowrap;
}

.game__item {
  display: grid;
  place-items: center;
  place-content: space-between;
  gap: 1.5rem;
  height: 100%;
  letter-spacing: var(--letter-spacing);
}

/* Results banner */
:is(.game__result-banner, .game__result-banner[data-desktop]) {
  position: absolute;
  opacity: 0;
  scale: 0;
  transition:
    scale .5s ease-in-out,
    opacity .3s ease-in-out;
}

.game__result-banner--show[data-mobile] {
  position: initial;
  opacity: 1;
  scale: 1;
}

.game__results-btn {
  color: var(--dark-text);
}

.game__results-btn--win:is(:hover, :focus-visible, :active) {
  color: hsl(129, 80%, 27%);
}

.game__results-btn--lose:is(:hover, :focus-visible, :active) {
  color: hsl(349, 83%, 42%);
}

/* Modal of rules */
html:has(dialog[open]) {
  overflow: hidden;
}

.rules-modal {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  align-content: space-between;
  gap: 2rem;
  width: 100%;
  height: 100%;
  max-inline-size: min(100vw, 100%);
  max-block-size: min(100vh, 100%);
  max-block-size: min(100dvb, 100%);
  padding: 3rem 2rem;
  border: none;
  color: var(--dark-text);
  background-color: var(--main-text);
  transition: opacity .25s ease-in;
  overflow: hidden;
  z-index: 10;
}

.rules-modal:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.rules-modal__image-container {
  min-height: 220px;
}

.rules-modal__close-btn {
  position: relative;
  display: inline-grid;
  place-items: center;
  padding: .625rem;
  border-radius: 50%;
  transition:
    scale .3s var(--bouncing),
    background-color .3s ease-in-out,
    color .3s ease-in-out;
}

.rules-modal__close-btn::after {
  content: "";
  width: 20px;
  aspect-ratio: 1;
  background: no-repeat center url("../images/icon-close.svg");
}

:is(.rules-modal__image, .rules-modal__close-btn--desktop) {
  display: none;
}

/* Footer */
.game__footer {
  gap: 2rem;
}

.game__mode-btn {
  padding: 0.625rem 1.25rem;
  border-radius: .5625rem;
  transition: background-color .3s ease-in;
}

.game__mode-btn:is(:hover, :focus-visible, :active) {
  background-color: var(--dark-text);
}

/* Attribution */
.attribution {
  height: fit-content;
  margin-block-start: 4.5rem;
  color: var(--main-headings);
  font-size: .875rem;
  z-index: 1;
}

.attribution a {
  color: hsl(230, 89%, 65%);
}

.attribution__author {
  white-space: nowrap;
}

@media screen and (max-width: 375px) {
  .btn.game__choice-btn {
    --bdr-width: 0.625rem;
    padding: 0.6125rem 0.75rem;
  }

  .game__choice-btn::after {
    width: 35px;
    height: 45px;
    background-size: 80%;
  }
}